:root{
    --main-font:'Open Sans', sans-serif;
    --second-font:'Roboto', sans-serif;

    --site-nav-color:#1f1212;
    --logo-color:#605e5e;
    --link-hover-color:#1abc9c;
    --main-title-color:#515151;
};

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    padding: 0;
    padding-top: 25px;
}

/* img {
    display: block;
    width: 100px;
    height: auto;
  } */

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

button{
    all: unset;
}

.container{
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}


.main-title{
    text-align: center;

    font-family: var(--second-font);
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;

    color: var(--main-title-color);
    
    
}



/* /////// */
.header{
    margin-bottom: 110px;
}

.header .container{
    display: flex;
}

.logo{
    margin-right: auto;

    font-family: var(--second-font);
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;

    color: var(--logo-color);
}

.logo::first-letter{
    font-weight: 700;
    color: var(--link-hover-color);
}

.site-nav{
    display: flex;
    align-items: center;
}

.site-nav__link{
    display: block;
    padding: 15px;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    color: var(--site-nav-color);
}

.site-nav__link:hover,
.site-nav__link:focus{
    color: var(--link-hover-color);
}


/* SHOP */

.shop .main-title{
    margin-bottom: 90px;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-list__item{
    flex-basis: calc(25% - 40px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.product-list__item:nth-child(4n){
    margin-right: 0;
}

.product-list__item:nth-last-child(-n+4){
    margin-bottom: 0;
}

.card-inform{
    display: flex;
    
}